<div class="container text-center">
<br>
<!--breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/portfolios">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'View all Holdings', assignments_path %></li>
  </ol>
</nav>
<!--breadcrumbs-->
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-center">Edit Holdings</div>
      <div class="card-body text-center">
        <%= render 'form', assignment: @assignment %>

      </div>
    </div>
  </div>
</div>