<div class="container text-center">
<br>
<!--breadcrumb-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/portfolios">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">New Assignment</li>
  </ol>
</nav>
<!--breadcrumb-->
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-center">Assign a Stock</div>
      <div class="card-body text-center">
        <%= render 'form', assignment: @assignment %>
      </div>
    </div>
  </div>
</div>

