<div class="container text-center">
        <br>
    <!--breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/portfolios">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Portfolio</li>
      </ol>
    </nav>
    <!--breadcrumb-->
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-center"><strong>Name your new Portfolio</strong></div>
      <div class="card-body text-center">

            <%= render 'form', portfolio: @portfolio %>
           
      </div>
        <div id="Portfolioname">
        </div>
    </div>
  </div>
</div>
<script>
$(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/portfolios', values);
 
      posting.done(function(data) {
        var post = data;
        
        $("#Portfolioname").text(post["name"]+" is now one of your portfolios ");
        $("#message").text("is now one of your portfolios");
      });
    });
  });
  </script>