<div class="container text-center">
        <br>
    <!--breadcrumb-->
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/portfolios">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">New Portfolio</li>
      </ol>
    </nav>
    <!--breadcrumb-->
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-center"><strong>Name your new Portfolio</strong></div>
      <div class="card-body text-center">

            <%= render 'form', portfolio: @portfolio %>
            
      </div>
<<<<<<< HEAD
    </div>
  </div>
</div>
<script>
$(function () {
    $('form').submit(function(event) {
      //prevent form from submitting the default way
      event.preventDefault();
 
      var values = $(this).serialize();
 
      var posting = $.post('/portfolios', values);
 
      posting.done(function(data) {
        var post = data;
        $("#Portfolioname").text(post["name"]+" is now one of your portfolios ");
        $("#message").text("is now one of your portfolios");
      });
    });
  });
=======
       <div id="showPortfolio">
              <br>
        <p id="Portfolioname"></p>
       </div>
  </div><!--ending div for 'card card-login mx-auto mt-5-->
</div><!--ending div for 'container text-cent'-->

<script type= "text/javascript" charset="utf-8">
    $(function () {
        $('form').submit(function(event) {
          //prevent form from submitting the default way
          event.preventDefault();
    
          var values = $(this).serialize();
    
          var posting = $.post('/portfolios', values);
    
          posting.done(function(data) {
            var post = data;
            $("#Portfolioname").text(post["name"]+" is now one of your portfolios ");
            
          });
        });
      });
>>>>>>> 5efb1bc11e3cc7015a7b53ff729e5539a2e45cb4
  </script>