<center>
    <body class="bg-dark">
      <div class="container">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <%= link_to 'Home', portfolios_path %>
          </li>
      </div>
    </body>
</center>
