<div class="container text-center">
<br>
<!--breadcrumbs-->
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/portfolios">Home</a></li>
    <li class="breadcrumb-item"><%= link_to 'All Stocks', stocks_path %></li>
    <li class="breadcrumb-item active" aria-current="page">Create Stock</li>
  </ol>
</nav>
<!--breadcrumbs-->
  <div class="card card-login mx-auto mt-5">
    <div class="card-header text-center">New Stock</div>
      <div class="card-body text-center">
        <%= render 'form', stock: @stock %>
      </div>
    </div>
  </div>
</div>